bwpxxbw611/bwpxxbw611/BWP.Core/Schema/CreditCheckSchema.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://www.tibco.com/bwp/schemas/creditcheck"
	 xmlns:CC = "http://www.tibco.com/bwp/schemas/creditcheck"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<element name = "CreditCheckRequest">
		<complexType>
			<sequence>
				<element ref = "CC:Amount"/>
				<element ref = "CC:AccountID"/>
			</sequence>
		</complexType>
	</element>
	<element name = "CreditCheckResult">
		<complexType>
			<sequence>
				<element ref = "CC:Status"/>
			</sequence>
		</complexType>
	</element>
	<element name = "AccountID" type = "string"/>
	<element name = "Amount" type = "decimal"/>
	<element name = "Status" type = "string"/>
</schema>