bwpxxbw611/bwpxxbw611/BWP.Core/Schema/LineItem.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://www.tibco.com/bwp/schemas/lineitem"
	 xmlns:LI = "http://www.tibco.com/bwp/schemas/lineitem"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<element name = "Item">
		<complexType>
			<sequence>
				<element name = "ItemID" type = "string"/>
				<element name = "ItemDesc" type = "string"/>
				<element name = "UnitPrice" type = "decimal"/>
				<element name = "Quantity" type = "string" minOccurs = "0"/>
				<element name = "ItemStatus" type = "string"/>
			</sequence>
		</complexType>
	</element>
	<element name = "LineItems">
		<complexType>
			<sequence>
				<element ref = "LI:Item" maxOccurs = "unbounded"/>
			</sequence>
		</complexType>
	</element>
</schema>