bwpxxbw611/bwpxxbw611/BWP.Core/Schema/OrderSchema.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://www.tibco.com/bwp/schemas/order"
	 xmlns:OR = "http://www.tibco.com/bwp/schemas/order"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<element name = "Order">
		<complexType>
			<sequence>
				<element name = "OrderID" type = "string"/>
				<element name = "CustomerID" type = "string"/>
				<element name = "TotalPrice" type = "decimal"/>
				<element name = "OrderStatus" type = "string"/>
				<element name = "CreditStatus" type = "string"/>
				<element name = "OrderDate" type = "date"/>
				<element name = "ShipmentDate" type = "date"/>
				<element name = "ShipmentLocation" type = "string"/>
				<element name = "DeliveryMethod" type = "integer"/>
				<element name = "Priority" type = "string"/>
				<element name = "OrderItems" maxOccurs = "unbounded">
					<complexType>
						<sequence>
							<element name = "ItemID" type = "string"/>
							<element name = "ItemDesc" type = "string"/>
							<element name = "Quantity" type = "integer"/>
							<element name = "UnitPrice" type = "decimal" minOccurs = "0"/>
							<element name = "Status" type = "string"/>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>