bwpxxbw611/bwpxxbw611/BWP.Core/Schema/PurchaseOrderSchema.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://www.tibco.com/bwp/schemas/purchaseorder"
	 xmlns:PO = "http://www.tibco.com/bwp/schemas/purchaseorder"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<element name = "PurchaseOrder">
		<complexType>
			<sequence>
				<element name = "CustomerID" type = "string"/>
				<element name = "OrderDate" type = "string"/>
				<element name = "ShipmentDate" type = "string"/>
				<element name = "ShipmentLocation" type = "string"/>
				<element name = "DeliveryMethod" type = "integer"/>
				<element name = "Priority" type = "string"/>
				<element name = "LineItem" maxOccurs = "unbounded">
					<complexType>
						<sequence>
							<element name = "Item" type = "string"/>
							<element name = "Quantity" type = "integer"/>
							<element name = "UnitPrice" type = "decimal"/>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>