bwpxxbw611/bwpxxbw611/BWP.Core/Services/CreditCheck/Contract/CreditCheckService_ConcreteWSDL_WSIL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tibco.com/bwp/services/creditcheckconcrete" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns0="http://www.tibco.com/bwp/schemas/creditcheck" name="Untitled" targetNamespace="http://www.tibco.com/bwp/services/creditcheckconcrete">
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:CC="http://www.tibco.com/bwp/schemas/creditcheck" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/bwp/schemas/creditcheck" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <element name="AccountID" type="xsd:string"/>
            <element name="Amount" type="xsd:decimal"/>
            <element name="CreditCheckRequest">
                <complexType>
                    <sequence>
                        <element ref="CC:Amount"/>
                        <element ref="CC:AccountID"/>
                    </sequence>
                </complexType>
            </element>
            <element name="CreditCheckResult">
                <complexType>
                    <sequence>
                        <element ref="CC:Status"/>
                    </sequence>
                </complexType>
            </element>
            <element name="Status" type="xsd:string"/>
        </schema>
    </wsdl:types>
    <wsdl:service name="intfPerformCreditCheck-service.serviceagent">
        <wsdl:port name="intfwsPerformCreditCheckEndpoint1" binding="tns:intfwsPerformCreditCheckEndpoint1Binding">
            <soap:address location="http://educlt:7575/BWP.Core/Services/CreditCheck/Interface/intfPerformCreditCheck-service.serviceagent"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="portType">
        <wsdl:operation name="PerformCreditCheckOp">
            <wsdl:input message="tns:CreditCheckRequest"/>
            <wsdl:output message="tns:CreditCheckResult"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="intfwsPerformCreditCheckEndpoint1Binding" type="tns:portType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="PerformCreditCheckOp">
            <soap:operation style="document" soapAction="/BWP.Core/Services/CreditCheck/Interface/intfPerformCreditCheck-service.serviceagent/intfwsPerformCreditCheckEndpoint1/PerformCreditCheckOp"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="CreditCheckRequest">
        <wsdl:part name="parameters" element="ns0:CreditCheckRequest"/>
    </wsdl:message>
    <wsdl:message name="CreditCheckResult">
        <wsdl:part name="parameters" element="ns0:CreditCheckResult"/>
    </wsdl:message>
</wsdl:definitions>